.flex-row {
  display: flex;
  flex-direction: row;
  min-width: 60em;
  justify-content: center;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#logo {
  height: 30em;
}

.question {
	display: flex;
	flex-direction: column;
}

#answers {
	width: 80%;
	margin-bottom: 1em;
}